.main {
  flex-grow: 1;
  padding: 1em 0;
}

.mainWrapper {
  max-width: 82.5em;
  margin: 0 auto;
  width: 100%;
  min-height: 100%;
}

.info {
  margin-bottom: 1em;
}

.smallSection {
  margin-bottom: 1em;
  /* Card берёт бордеры и фон, здесь можно задать внутренние отступы или дополнительные стили */
}
